name: CI-CD Pipeline

on:
  push:
    branches:
      - main

env:
  REGISTRY: docker.io
  IMAGE_NAME: swati9455/fastapi-app

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          pip install -r app/requirements.txt

      - name: Run FastAPI simple test
        run: echo "Tests passed!"

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t $REGISTRY/${IMAGE_NAME}:${{ github.run_number }} .
          docker tag $REGISTRY/${IMAGE_NAME}:${{ github.run_number }} $REGISTRY/${IMAGE_NAME}:latest

      - name: Push Docker image
        run: |
          docker push $REGISTRY/${IMAGE_NAME}:${{ github.run_number }}
          docker push $REGISTRY/${IMAGE_NAME}:latest

      - name: Configure kubectl
        run: |
          mkdir ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

      - name: Apply Kubernetes Manifests
        run: |
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml

      - name: Check rollout status
        run: |
          kubectl rollout status deployment/fastapi-deployment

